<html>

<head>
  <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/mustache.min.js"></script>
  <script type="text/javascript" src="js/cambios.js"></script>

  <script id="desktopTemplate" type="x-tmpl-mustache">
        <li class="collection-header"><h4>Aplicación de escritorio</h4></li>
        {{#desktop}}
        <li><p>{{.}}</p></li>
        <hr>
        {{/desktop}}
      </script>

  <script id="databaseTemplate" type="x-tmpl-mustache">
        <li class="collection-header"><h4>Base de datos</h4></li>
        {{#database}}
        <li><p>{{.}}</p></li>
        <hr>
        {{/database}}
      </script>

  <script id="servicesTemplate" type="x-tmpl-mustache">
        <li class="collection-header"><h4>Servicios</h4></li>
        {{#services}}
        <li><p>{{.}}</p></li>
        <hr>
        {{/services}}
      </script>

  <script id="mainTitleTemplate" type="x-tmpl-mustache">
        Versión {{version}}
      </script>
</head>

<body onload="loadChanges()">

  <nav>
    <div class="nav-wrapper blue lighten-3">
      <a id="mainTitle" class="brand-logo center"></a>
    </div>
  </nav>
  <div class="container">
    <div class="column">
      <div class="col s12 m6">
        <div class="card-panel blue lighten-3">
          <ul id="desktopChanges">
          </ul>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="col s12 m6">
        <div class="card-panel blue lighten-3">
          <ul id="databaseChanges">
          </ul>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="col s12 m6">
        <div class="card-panel blue lighten-3">
          <ul id="servicesChanges">
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>